<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <mappers>
        <mapper resource="mapper/dynamicMapper.xml"/>
        
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/UserEduMapper.xml"/>
        <mapper resource="mapper/UserCareerMapper.xml"/>
        <mapper resource="mapper/ExamMapper.xml"/>
        <mapper resource="mapper/ExamPlaceMapper.xml"/>
        <mapper resource="mapper/ExamReceiptMapper.xml"/>
        <mapper resource="mapper/ExamResultMapper.xml"/>
        <mapper resource="mapper/LicenseMapper.xml"/>
        
    </mappers>
</configuration>