@charset "EUC-KR";

ul, li {
	list-style-type: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}

.pageContainer {
	position: relative;
	width: 1250px;
	min-height: 700px;
	margin: 0 auto;
	padding-top: 60px;
}

.top_module {
	min-height: 530px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 50px;
}

.top_module_inner {
	width: 94%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.top_module_inner>h1 {
	padding-bottom: 5px;
}
.search_container {
	width: 1120px;
}

.text_search {
	padding-bottom: 30px;
}

.list_serch {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.list_serch_contents {
	border: 1px solid #6495ED;
	border-top: 0;
	border-radius: 5px;
}
.list_serch_contents >ul > li {
	width: 33.333%;
}

contents_name {
	width: 100%;
}

.contents_name_ul>li {
	width: 33.333%;
}

.contents_name_ul>li {
    width: 33.333%;
    background-color: #6495ED;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.list_serch_ul> {
  border: none; /* 기본 버튼의 테두리 제거 */
}

.content1, .content2 {
	border-right: 1px solid #6495ED;
}

.selected_show {
	width: 100%;
	margin: 0 auto;
	height: 100px;
	max-height: 100px;
	display: flex;
}

.seleted_box {
	width: 67%;
	padding: 10px 15px;
	overflow: auto;
	overflow-x: hidden;
	@extend .pretty-scrollbar;
}

.button_box {
	width : 33%;
	padding: 20px 20px 20px 0;
	display: flex;
	justify-content: flex-end;
	grid-gap: 20px;
	gap: 20px;
	align-items: center;
	margin-left: auto;
}
/*
.required_btn, .reset_btn {
    display: flex;
    justify-content: center;
    align-items: center;   
}
*/

.required_btn img, .reset_btn img {
    vertical-align: -1px; /* Adjust the value as needed */
}



.major-button, .minor-button, .lt-button, .sc-button, .all-button,.all-minor-button {
	background: none;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.major-button:hover, .minor-button:hover, .lt-button:hover, .sc-button:hover, .all-button:hover, .all-minor-button:hover {
	background-color: #e0e0e0;
}

.selected-button {
	background: none;
	border: none;
	cursor: pointer;
	margin: 0 15px 5px 0;
}

.list_box {
	max-height: 200px;
	overflow: auto;
	overflow-x: hidden;
	@extend .pretty-scrollbar;
}

.flex-row > li:last-child > .list_box {
  overflow: hidden;
}


.list_box>li {
	height: 50px;
}

.lt-button {
	padding: 0 0 0 0;
}

/* 바텀모듈 */
.bottom_module {
	min-height: 600px;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	border-top: 1.5px solid black;
}

.bottom_module_inner {
	width: 94%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.howResultSearhed {
	display: flex;
	justify-content: flex-start;
	/* grid-gap: 10px; */
	gap: 10px;
	align-items: center;
	margin-left: auto;
	padding-bottom: 10px;
}

.howResultSearhed > div {
    font-size: 1.5rem; /* 폰트 크기 */
}

.howResultSearhed > div#searchResultCount {
    font-size: 1.3rem; /* 결과 개수 폰트 크기 */
    /* font-style: italic; */
    color: #0d6efd; /* 결과 개수 색상 */
}

.list_area {
	width: 100%;
	margin: 0 auto;
	display: flex; /* Set display to flex */
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap; /* Optional: if you want items to wrap to the next line if they don't fit */
}

.list-item {
    list-style-type: none; /* 기본 리스트 스타일 제거 */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0; /* 기본 패딩 제거 */
    border: 1px solid #6495ED;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 120px;
}

.list-item > a {
    /* Any specific styles for anchor tags */
    text-align: left;
}

.container-margin {
    margin-left: 20px;
}


.list-item a div > li {
	margin-bottom: 5px;
	margin-right: 10px;
	padding: 5px;
	display: inline-block;
}

.license-name {
	font-weight: 500;
    font-size: 1.7em; /* 크기를 적당히 크게 */
}

.license-type {
    color: #3849e8;
    font-size: 0.9em;
    border: 1px solid #3849e8; /* Pure blue border */
    border-radius: 5px;
    /* background-color: #3849e8; */ /* Navy blue background */
    padding: 5px;
    margin-top: -5px;
    margin: 2px;
}

.major-code {
	color: #008080;
    border: 1px solid #008080; /* Pure blue border */
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

.minor-code {
	color: #800080;
    border: 1px solid #800080; /* Pure blue border */
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
