/* 탑 */
.top_module {
	width: 100%;
	border: 1px solid blue;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

.top_module_inner {
	width: 94%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* 바텀 */
.bottom_module {
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.bottom_module_inner {
	width: 94%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}