<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.jabusim.mapper.SearchLicenseMapper">
	
	<resultMap id="searchLicenseBean" type="kr.co.jabusim.beans.SearchLicenseBean">
	    <result property="license_idx" column="license_idx"/>
	    <result property="license_name" column="license_name"/>
	    <result property="majorCode" column="majorCode"/>
	    <result property="minorCode" column="minorCode"/>
	    <result property="exam_name" column="exam_name"/>
	    <result property="receiptStartDate" column="receiptStartDate"/>
	    <result property="exam_receiptEndDate" column="exam_receiptEndDate"/>
	    <result property="examDate" column="examDate"/>
	</resultMap>


	
	<select id="selectMajorCode" parameterType="list" resultMap="searchLicenseBean">
	    SELECT
	        l.license_idx,
	        l.license_name,
	        l.license_maincategory AS majorCode,
	        l.license_subcategory AS minorCode,
	        e.exam_name,
	        TO_CHAR(e.exam_receiptStartDate) AS receiptStartDate,
	        TO_CHAR(e.exam_receiptEndDate) AS exam_receiptEndDate,
	        TO_CHAR(e.exam_date) AS examDate
	    FROM license_table l
	    JOIN exam_table e ON l.license_type = e.exam_licensetype
	    <where>
	        e.exam_date > SYSDATE
	        <if test="majorCode != null">
	            AND l.license_maincategory IN
	            <foreach item="category" collection="majorCode" open="(" separator="," close=")">
	                #{category}
	            </foreach>
	        </if>
	    </where>
	</select>

	<select id="selectMinorCode" parameterType="list" resultMap="searchLicenseBean">
	    SELECT
	        l.license_idx,
	        l.license_name,
	        l.license_maincategory AS majorCode,
	        l.license_subcategory AS minorCode,
	        e.exam_name,
	        TO_CHAR(e.exam_receiptStartDate) AS receiptStartDate,
	        TO_CHAR(e.exam_receiptEndDate) AS exam_receiptEndDate,
	        TO_CHAR(e.exam_date) AS examDate
	    FROM license_table l
	    JOIN exam_table e ON l.license_type = e.exam_licensetype
	    <where>
	        e.exam_date > SYSDATE
	        <if test="minorCode != null">
	            AND l.license_subcategory IN
	            <foreach item="category" collection="minorCode" open="(" separator="," close=")">
	                #{category}
	            </foreach>
	        </if>
	    </where>
	</select>
	
	<select id="selectSchedule" parameterType="list" resultMap="searchLicenseBean">
	    SELECT
	        l.license_idx,
	        l.license_name,
	        l.license_maincategory AS majorCode,
	        l.license_subcategory AS minorCode,
	        e.exam_name,
	        TO_CHAR(e.exam_receiptStartDate, 'YYYY-MM-DD') AS receiptStartDate,
	        TO_CHAR(e.exam_receiptEndDate, 'YYYY-MM-DD') AS receiptEndDate,
	        TO_CHAR(e.exam_date, 'YYYY-MM-DD') AS examDate
	    FROM license_table l
	    JOIN exam_table e ON l.license_type = e.exam_licensetype
	    <where>
	        1=1
	        <if test="'notRegisted' in schedule">
	            AND e.exam_date > SYSDATE
	        </if>
	        <if test="'beRegisting' in schedule">
	            AND SYSDATE BETWEEN e.exam_receiptStartDate AND e.exam_receiptEndDate
	        </if>
	        <if test="'closeRegisted' in schedule">
	            AND TRUNC(SYSDATE) = e.exam_receiptEndDate
	        </if>
	    </where>
	    <choose>
	        <when test="'notRegisted' in schedule or 'closeRegisted' in schedule">
	            ORDER BY e.exam_date
	        </when>
	        <when test="'beRegisting' in schedule">
	            ORDER BY e.exam_receiptStartDate
	        </when>
	    </choose>
	</select>
	
	<!-- 변수 여러개 -->
	<select id="selectAnyCategories" parameterType="map" resultMap="searchLicenseBean">
	    SELECT
	        l.license_idx,
	        l.license_name,
	        l.license_maincategory AS majorCode,
	        l.license_subcategory AS minorCode,
	        e.exam_name,
	        TO_CHAR(e.exam_receiptStartDate, 'YYYY-MM-DD') AS receiptStartDate,
	        TO_CHAR(e.exam_receiptEndDate, 'YYYY-MM-DD') AS receiptEndDate,
	        TO_CHAR(e.exam_date, 'YYYY-MM-DD') AS examDate
	    FROM license_table l
	    JOIN exam_table e ON l.license_type = e.exam_licensetype
	    <where>
	        1=1
	        <if test="selectAnyParams['majorCode'] != null">
	            AND l.license_maincategory IN
	            <foreach item="category" index="index" collection="selectAnyParams['majorCode']" open="(" separator="," close=")">
	                #{category}
	            </foreach>
	        </if>
	        <if test="selectAnyParams['minorCode'] != null">
	            AND l.license_subcategory IN
	            <foreach item="category" index="index" collection="selectAnyParams['minorCode']" open="(" separator="," close=")">
	                #{category}
	            </foreach>
	        </if>
	        <if test="selectAnyParams['schedule'] != null and 'notRegisted' in selectAnyParams['schedule']">
	            AND e.exam_date > SYSDATE
	        </if>
	        <if test="selectAnyParams['schedule'] != null and 'beRegisting' in selectAnyParams['schedule']">
	            AND SYSDATE BETWEEN e.exam_receiptStartDate AND e.exam_receiptEndDate
	        </if>
	        <if test="selectAnyParams['schedule'] != null and 'closeRegisted' in selectAnyParams['schedule']">
	            AND TRUNC(SYSDATE) = e.exam_receiptEndDate
	        </if>
	    </where>
	    <choose>
	        <when test="selectAnyParams['schedule'] != null and ('notRegisted' in selectAnyParams['schedule'] or 'closeRegisted' in selectAnyParams['schedule'])">
	            ORDER BY e.exam_date
	        </when>
	        <when test="selectAnyParams['schedule'] != null and 'beRegisting' in selectAnyParams['schedule']">
	            ORDER BY e.exam_receiptStartDate
	        </when>
	    </choose>
	</select>
	
</mapper>