@charset "EUC-KR";

.top_module {
	width: 100%;
	border: 1px solid blue;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

.text_search {
	margin-bottom: 20px;	
}

.test_module_inner {
	width: 94%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 100px;
	/* justify-content: space-between; */
	align-items: flex-end;
}

.top_module_inner {
	width: 94%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 10px;
	border-top: 1px solid black;
}

